.H{
    text-align: center;
    font-size: 42px;
    color:black;
    transition: all .5s;
}
summary{
    margin: 27px 0;
    font-size: 30px;
    color:#2d0440;
    transition: transform .5s ease;
    cursor: pointer;
}
summary:hover{
    transform: translateX(50px);
}
.kk{
    color:#77CBF4;
    
}
.Arr{
    
    font-size: 18px;
    color:#2d0440;
}
